body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    allign-items:center;
}

input{
     display:none;
}

img{
    width:100%;
    height:100%;
}

.container{
    display:flex;
}

#cover{
     width:650px;
     height:400px;
}

.page-container{
     width:100%;
     height:100%;
     position:relative;
     perspective:1500px;
}
 
.page{
     width:100%;
     height:100%;
     position:absolute;
     top:0;
     left:0;
     transform-origin:left;
     transform-style:preserve-3d;
     transform:rotateY(0deg);
     transition:.5s;
     color:white;
}

.front, .back{
     position:absolute;
     width:100%;
     height:61%;
     top:0;
     left:0;
}

.front{
     background-color:#191966;
     box-sizing:border-box;
     padding:0 13px;
}

.back{
    transform:rotateY(180deg);
    backface-visibility:hidden;
}

.next-btn{
    position:absolute;
    bottom:13px;
    right:13px;
    cursor:pointer;
}
 
.back-btn{
    position:absolute;
    bottom:13px;
    right:13px;
    cursor:pointer;
}

#pl{
   z-index:2;
}
#p2{
   z-index:1;
}


#cl:checked ~.page-container #pl{
    transform:rotateY(-180deg);
    z-index:1;
}

#c2:checked ~.page-container #p2{
    transform:rotateY(-180deg);
    z-index:2;
}
    
   
 
   
 